@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, #fbf7f0 0%, #f4ebdd 100%);
  color: #2e2a24;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}
